.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  max-width: 1500px;
  align-items: center;
}
.fixed {
  max-width: 1500px;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
}
.top-bar {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar .container {
  justify-content: space-between;
}
.img-wrapper {
  background-color: #e1e1e1;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.top-bar img {
  width: 30px;
  object-fit: contain;
}
.galaxy-cont {
  background: #e1e1e1;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galaxy-cont .galaxy {
  text-transform: uppercase;
  font-size: 40px;
  width: 100%;
  max-width: 1500px;
  color: black;
  padding-left: 20px;
}
.wrapper {
  width: 100%;
  max-width: 1500px;
}
.e-doc {
  background: #e1e1e1;
  color: black;
  width: 100%;
  max-width: 700px;
  padding: 20px;
  font-size: 30px;
  align-self: flex-start;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
.staff-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0px;
  gap: 10px;
  background: white;
  border: 2px solid black;
  border-radius: 30px;
  padding-inline: 40px;
  padding-block: 10px;
  height: 150px;
  width: 100%;
}
.staff-details h3 {
  font-size: 22px;
  color: black;
}
.staff-details h3 span {
  color: #313131;
}
.main-dashboard {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-areas: "sidebar dash dash";
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 1500px;
  gap: 30px;
  height: 600px;
  margin-top: 470px;
}
.sidebar {
  height: 100%;
  grid-area: sidebar;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;
  border: 1px solid black;
  gap: 40px;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 10px;
}
.main-drop {
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 18px;
  padding: 20px 0px;
  padding-left: 25px;
  margin-top: 10px;
}
.drop-item {
  color: black;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}
.active-drop {
  background-color: #e1e1e1;
}
.active-drop .main-drop {
  display: flex;
}
.side-link {
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  cursor: pointer;
  font-weight: bold;
}
.side-link img {
  width: 45px;
  object-fit: contain;
}
.dashboard {
  grid-area: dash;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.dashboard::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dashboard {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.dashboard h1 {
  font-size: 18px;
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  font-size: 22px;
  background-color: #e1e1e1;
  border-radius: 21px;
  color: black;
  border: 1px solid black;
}
.summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}
.heading-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e1e1e1;
  padding: 25px 20px;
  border-bottom: 1px solid black;
}
.heading-row h2 {
  color: black;
}
.heading-row > div {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-row select {
  padding: 6px 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  border: 1px solid black;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
}
.row h2 {
  color: black;
  font-size: 18px;
}
.row p {
  font-size: 18px;
  color: black;
}
.mobile {
  display: none;
}
.overlay {
  display: none;
}
@media screen and (max-width: 1241px) {
  .galaxy-cont .galaxy {
    font-size: 40px;
  }
  .e-doc {
    font-size: 25px;
  }
  .top-bar img {
    width: 20px;
  }
  .top-bar .img-wrapper {
    width: 70px;
  }
  .heading-row h2 {
    font-size: 20px;
  }
  .dashboard h1 {
    font-size: 17px;
  }
  .staff-details {
    border-radius: 0px;
  }
}
@media screen and (max-width: 887px) {
  .mobile {
    display: block;
    color: black;
    font-size: 25px;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 39;
  }
  .open-overlay {
    display: block;
  }
  .main-dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    padding-inline: 20px;
    height: auto;
  }
  .sidebar {
    grid-area: initial;
    position: fixed;
    top: 0;
    left: -900px;
    max-width: 400px;
    z-index: 50;
    padding: 100px 20px;
    justify-content: flex-start;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    transition: all 0.6s ease-in-out;
    background: white;
  }
  .open-side {
    left: 0;
  }
  .side-link {
    font-size: 17px;
  }
  .side-link img {
    width: 50px;
  }
  .sidebar .mobile {
    position: absolute;
    top: 2%;
    right: 4%;
    grid-area: initial;
  }
  .staff-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
  }
  .staff-details h3 {
    font-size: 18px;
  }
  .heading-row h2 {
    font-size: 16px;
  }
  .heading-row select {
    padding: 0px;
    font-size: 12px;
  }
  .dashboard h1 {
    font-size: 14px;
    padding-inline: 5px;
  }
  .main-dashboard {
    margin-top: 420px;
  }
}
@media screen and (max-width: 521px) {
  .galaxy-cont .galaxy {
    font-size: 30px;
  }
  .galaxy-cont {
    height: auto;
    padding: 20px;
  }
  .e-doc {
    font-size: 18px;
  }
  .staff-details {
    padding: 20px 10px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid black;
  }
  .staff-details h3 {
    font-size: 15px;
  }
  .dashboard h1 {
    border-radius: 0px;
  }
  .main-dashboard {
    padding-inline: 0px;
  }
  .heading-row,
  .row {
    padding-inline: 10px;
  }
  .heading-row h2 {
    font-size: 14px;
  }
  .row h2 {
    font-size: 16px;
  }
  .main-dashboard > .mobile {
    padding-left: 10px;
  }
  .top-bar {
    padding: 0px;
  }
}
@media screen and (max-width: 420px) {
  .sidebar {
    max-width: none;
  }
}
